google.generativeai
Flask
langchain_core
langchain
langchain_pinecone
langchain_google_genai
pillow
python-dotenv
openpyxl
beautifulsoup4
streamlit
docx2txt
nest_asyncio
langchain_community
PyPDF
sentence-transformers
python-docx
fpdf
rapidocr-onnxruntime
playwright
unstructured